.navbar-container{
    box-sizing:border-box;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    position:sticky;
    background-color: white;
}
.navbar{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo-container{
    height: 5rem;
    width: 7rem;
    background-color: white;
    margin-left: 5rem;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px lightgray solid;
    position:absolute;
    left: 0;
}

.porsche-logo{
    width: 6rem;
    height: 4rem;
    object-fit: contain;

}

.hamburger-menu{
    margin-right: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 100;
    
   
}
.hamburger-menu h2{
    margin-bottom: 0.8rem;
    
}

.side-menu{
    position: absolute;
    max-height: 99vh;
    width: 45vw;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    overflow-y: scroll;
    overflow-x:visible;
    
    
}
.side-menu .top{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    transition: 0.5s ease-in-out;
}
.side-menu .bottom{
    min-height: 60%;
    width: 90%;
    transition: 0s all;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
}
.car-container{
    width: 90%;
    height: 9rem;
    text-align: center;
    margin: 0 auto;
}
.car-container:hover{
    color: red;
}
.car {
    margin: 0 auto;
    height: 8rem;
    transition: 0s all;
}
.car-des{
    font-weight: 400;
    transition: 0s all;
}
.side-menu.closed{
    visibility: hidden;
    margin-right: -45vw;
}
.side-menu.closed .car-container{
    visibility: hidden;
}
.hamburger.opened, .hamburger.closed{
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.hamburger.opened{
    margin-right: 35vw;
    transition: 1.5s ease-in-out;

}
.hamburger.closed .line{
    width: 100%;
    height: 2px;
    background-color: gray;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s all;

}
.hamburger.opened .line{
    width: 100%;
    height: 2px;
    background-color: gray;   
    transition: 0.3s all;
    
}
.hamburger.opened .line:nth-child(2){
    transition: 0s;
    visibility: hidden;
}
.hamburger.opened .line:nth-child(1){
    transform: rotate(45deg);
}
.hamburger.opened .line:nth-child(3){
    
    transform: translate(0%, -180%) rotate(-45deg);
}

.hamburger-closed{
    position: absolute;
    margin-left: 3.3rem;
    visibility: hidden;
}
.hamburger-closed.visible{
    visibility: visible;
}
.closed, .opened{
    background: none;
    border: none;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    vertical-align: middle;
    margin: auto;
    
}
.closed h2{
    visibility: visible;
}

.opened h2{
    visibility: hidden;
}
.hamburger-opened.visible{
    visibility: visible;
}


.shop-container,
.dealer-container,
.my-porsche-container,
.more-container{
    height: 20%;
    width: 95%;
    border-top: 1px solid black;
    
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
  
}

.more-container{
    border-bottom: 1px solid black;
}




.hamburger-menu button:hover{
    color: red; 
}
.hamburger-menu button:hover .line{
    background-color:red;
}
.hamburger-menu h2{
    font-weight: 500;
    font-size: 18px;
    margin-top: 0.7rem;
}



.menu-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: auto;
    
}
.menu-icon img{
    object-fit: fill;
}
.menu-label{
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    font-weight: 400;
    text-align: start;

}

.arrow-right{
    
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 200;
    font-size: 24px;
    margin-right: 0.5rem;
    
    
}

.shop-container:hover,
.dealer-container:hover,
.my-porsche-container:hover,
.more-container:hover{
    color: red;
}
@media screen and (max-width: 1100px){
    .side-menu{
        height: 100vh;
        width: 100vw;
    }
    .hamburger.opened{
        position: absolute;
        left: 0;
        margin-left: 1rem;
    }
    .shop-container,
    .dealer-container,
    .my-porsche-container,
    .more-container{
        height: 15%;
        width: 90%;
    
  
}

}